.method {
  display: flex;
  background: rgba(0, 0, 0, 0.05);
  margin-top: 1rem;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

i {
  padding-left: 1rem;
}

.para-content {
  padding-left: 2.5rem;
  padding-top: 1rem;
}

.example {
  background: rgba(0, 0, 0, 0.05);
  width: 95%;
  position: absolute;
  margin-top: 1rem;
  right: 0;
}

.method-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.02em;
  padding: 0.6rem;
}

.example_para{
    padding-top: 5rem;
    padding-left: 4rem;
    padding-right: 1rem;
}
