<nav>
    <div class="deeptech_logo">
        <!-- <img class="logo" src="assets/deep.png" alt="" srcset="">
        <h3>Deep <span class="thought">Thought</span></h3> -->
        <img style="cursor: pointer;" src="assets/logo.svg" alt="logo" (click)="goToHome()">
    </div>
    <div class="nav-icons">
        <div class="circle">
            <i class="fa fa-solid fa-house-chimney"></i>
        </div>
        <div class="circle">
            <i class="fa fa-solid fa-screwdriver-wrench"></i>
        </div>
        <div class="circle">
            <div class="point"></div>
            <i class="fa fa-solid fa-bell"></i>
        </div>
        <div class="profile_pic"></div>
        <div class="dots">
            <i style="color:3683F0;" class="fa-solid  fa-ellipsis-vertical"></i>
        </div>
    </div>
</nav>

